body{
    background-image: url(../Assests/background.jpg);
    background-repeat: repeat-x;
    font-family: sans-serif;
    text-align: center;
        background-size: 100vh auto;
}
#contactForm
{
    align-content: centre;
    text-align: left;
}

.container{
	font-weight: bold;
	margin-top: 70px;

}

.row
{
    opacity:0.9;
}
.copyright
{
    font-weight: bold;
}